body{
    background-image: url(bg1.png);
}
div {
   position: absolute;
   top: 50%;

  }
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1 {
    font-style: initial;
    color: white;
    font-family: initial;
    position: absolute;
    top: 28%;
    right: 35%;
    left: 35%;
}
h3{
    font-style: initial;
    color: white;
    font-family: initial;
    position: absolute;
    top: 41%;
    right: 35%;
    left: 35%;
}
.Pengu{
    position: absolute;

}
.muschel{
    position: absolute;
}
#wrapper{
    width: 400px;
    margin: auto;
}
#pengu{
    margin: auto;
    position: absolute;
    left: 65%;
    top: 62%;
}
#muschel{
    margin: auto;
    position: absolute;
    left: 33%;
    top: 65%;
}