body{
    background-image: url(bg.png);
}
div{
    display: block;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1 {

    color: white;
    font-size: 45px;
    margin-top: -150px;

}
#erste{
    width: 500px;
    column-count: 3;
    color: white;
    text-align: justify;
    column-gap: 50px;
    margin-top: 30px;
}
#zweite{
    width: 500px;
    column-count: 2;
    color: white;
    text-align: justify;
    column-gap: 50px;
    margin-top: 250px;
}
#wrapper{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.uebertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}