body{
    background-image: url(bg.png);
}
div{
    display: block;
}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1 {
    font-style: initial;
    color: white;
    font-family: initial;
    position: absolute;
    top: 29%;
    right: 35%;
    left: 35%;
}
p{
    font-style: initial;
    color: white;
    font-family: initial;
    position: absolute;
    top: 40%;
    right: 35%;
    left: 35%;
    font-size: 15px;
    columns: 3;
}
b{
    font-style: initial;
    color: white;
    font-family: initial;
    position: absolute;
    top: 60%;
    right: 35%;
    left: 35%;
    font-size: 15px;
    columns: 2;
}
#wrapper{
    width: 400px;
    margin: auto;
}